*.png
*.jpg
*.tar
*.zip
*.pth
Download_Accelerator
data/Baseon_4K_dataset
data/Baseon_7k_dataset
data/BrushDench
data/data_train_big
data/data_train_big_backup
data/data_train_small
data/data_train_small_backup
data/open_scene
data/open_scene_image
data/visual_set
pretrain_model
runs